body 
{
background-color: #FFFFCC;
color: #000099;
}
h1 
{
font-family: French Script MT;
font-size: 3em;
color: #006600;
}
h2
{
font-size: 1.5em;
color: #669933;
}
h3 
{
font-family: Georgia;
color: #7D775C;
}
a
{
color: #B7A5DF;
}
